/************************Location****************************/

.location .fa-location-dot{
    width: 12px;
    height: 16px;
    margin-right: 20px;
}

.location {
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #353535;
}

/************************Introduction****************************/
.intro {
    background-color: var(--main-bg-color);
    &__title {
        text-align: center;
        padding: 40px 44px 10px 44px;
    }
    &__text {
        text-align: center;
        padding: 0 18px 30px 18px;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 45px;

    button{
        width: 218px;
        height: 50px;
        border-radius: 25px;
        background: var(--main-gradient-color);
        color: white;
        font-weight: 500;
        font-size: 16px;
        border: none;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
        transition-duration: 500ms;
        cursor: pointer;
        &:hover {
            background: var(--hover-gradient-color);
            box-shadow: 0 5px 26px 0 rgba(0, 0, 0, 0.5);
        }
        &:not(:hover) {
            background: var(--main-gradient-color);
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
          }
    }   
}

/************************Functioning****************************/

.functioning {
    padding-bottom: 40px;
    &__title {
        padding: 40px 0 30px 18px;
    }
    div {
        display: flex;
        align-items: center;
        height: 72px;
        border-radius: 20px;
        background-color: #F6F6F6;
        margin: 0 18px 25px 30px;
        position: relative;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        h3 {
            margin-left: 20px;
        }
        .number {
            position: absolute;
            left: -61px;
            top: 0;
            background-color: initial;
            box-shadow: none;
            h3 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;
                background-color: var(--main-color);
                border-radius: 50%;
                padding: 10px;
                color: white;
            }
        }
        .fa-mobile-screen-button, .fa-list-ul{
            color: #7E7E7E;
            margin-left: 60px;
        }
        .fa-store {
            color: var(--main-color);
            margin-left: 60px;
        }
    }
}

/************************Restaurants****************************/

.restaurant {
    background-color: var(--main-bg-color);
    padding-bottom: 45px;
    h3 {
        font-size: 18px;
        font-weight: 700;
    }
    &__title {
        padding: 50px 0 0 20px;
    }
    a {
        color: black;
        margin: 20px;
        background-color: white;
        border-radius: 15px;
        .card {
            position: relative;
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
            height: 100%;
            height: 251px;
            border-radius: 15px;
            img {
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                object-fit: cover;
                height: 180px;
                width: 100%;
            }

            &__content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 65px;
                margin-left: 15px;
                &--title {
                    margin-bottom: 3px;
                }
            }

            &__new {
                position: absolute;
                top: 13px;
                right: 0;
                margin-right: 13px;
                color: #008766;
                width: 80px;
                height: 29px;
                background-color: #99E2D0;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
            
    }
        
}



/******************************LOADER***********************************/

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-color); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Au-dessus de tout le contenu */
    animation: hide 3000ms forwards; /*Forwards pour que le loader reste encore transparent à la fin de l'animation*/ 
}
  
.loader {
    font-size: 2rem;
    perspective: 1200px;
}
  
.text {
    color: white;
    display: inline-block;
    animation: rotate 3000ms linear;
}
  
.letter {
    opacity: 0;
    font-family: 'Shrikhand', serif;
    font-weight: 400;
    display: inline-block;
    transform-origin: center;
    animation: spin 3000ms linear;
}
  
@keyframes rotate {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    0%, 80% { 
        transform: rotateY(0deg); 
    }
    25%, 65% { 
        transform: rotateY(180deg); 
    }
    80% {
        opacity: 1;
        visibility: visible;
      }
      100% {
        opacity: 0;
        visibility: hidden;
      }

}
  
@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    80% { 
        transform: rotate(360deg);
    }
    80% {
        opacity: 1;
        visibility: visible;
    }
      100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes hide {
    80% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
}
  
  