/************************Location****************************/

.location .fa-location-dot{
    width: 12px;
    height: 16px;
    margin-right: 20px;
}

.location {
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #353535;
}

/************************Introduction****************************/
.intro {
    background-color: var(--main-bg-color);
    &__title {
        text-align: center;
        padding: 40px 44px 10px 44px;
    }
    &__text {
        text-align: center;
        padding: 0 18px 30px 18px;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 45px;

    button{
        width: 218px;
        height: 50px;
        border-radius: 25px;
        background: linear-gradient(0deg, #9456DC, #FF79DB);
        color: white;
        font-weight: 500;
        font-size: 16px;
        border: none;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
        cursor: pointer;
        &:hover {
            background: linear-gradient(180deg, rgba(255,121,218,1) 100%, rgba(147,86,220,1) 100%, rgba(255,255,255,1) 15%);
        }
    }   
}

/************************Functioning****************************/

.functioning {
    padding-bottom: 40px;
    &__title {
        padding: 40px 0 30px 18px;
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 72px;
        border-radius: 20px;
        background-color: #F6F6F6;
        margin: 0 18px 25px 30px;
        position: relative;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        h3 {
            margin-left: 20px;
        }
        .number {
            position: absolute;
            left: -61px;
            top: 0;
            background-color: initial;
            box-shadow: none;
            h3 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;
                background-color: var(--main-color);
                border-radius: 50%;
                padding: 10px;
                color: white;
            }
        }
        .fa-mobile-screen-button, .fa-list-ul{
            color: #7E7E7E;
        }
        .fa-store {
            color: var(--main-color);
        }
    }
}

/************************Restaurants****************************/

.restaurant {
    background-color: var(--main-bg-color);
    padding-bottom: 45px;
    h3 {
        font-size: 18px;
        font-weight: 700;
    }
    &__title {
        padding: 50px 0 0 20px;
    }
    a {
        color: black;
        margin: 20px;
        background-color: white;
        border-radius: 15px;
        .card {
            position: relative;
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
            height: 100%;
            height: 251px;
            border-radius: 15px;
            img {
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                object-fit: cover;
                height: 180px;
                width: 100%;
                
            }
            &__content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 65px;
                margin-left: 15px;
                &--title {
                    margin-bottom: 3px;
                }
                .fa-heart {
                    position: absolute;
                    bottom: 25px;
                    right: 25px;
                    font-size: 22px;
                    background-image: linear-gradient(0deg, #9456DC, #FF79DB);
                    -webkit-background-clip: text; /* Pour les navigateurs basés sur WebKit */
                    background-clip: text;
                    color: transparent;
                }
            }
            &__new {
                position: absolute;
                top: 13px;
                right: 0;
                margin-right: 13px;
                color: #008766;
                width: 80px;
                height: 29px;
                background-color: #99E2D0;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        
    }
}
