/************************Main settings****************************/

@import "libs/reset.scss";

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    /* Colors*/
    --main-color: #9356DC;
    --main-bg-color: #F3F3F3;
    --menu-bg-color: #F6F6F6;
    --card-hover-color: #99E2D0;
    --main-gradient-color : linear-gradient(0deg, #9356dc, #ff79da);
    --hover-gradient-color : linear-gradient(0deg, #9B72D8 0%, #FF8DC6 100%);
}

body {
    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
}

.main-container {
    max-width: 1440px;
}

h2 {
    font-weight: 700;
    font-size: 24px;
}

h3 {
    font-weight: 500;
    font-size: 16px;
}

p {
    font-weight: 300;
    font-size: 18px;
}

a {
    display: block;
    text-decoration: none;
}

/************************Header****************************/

.header {
    h1 {
        font-weight: 400;
        height: 63px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Shrikhand', serif;
        text-align: center;
        font-size: 30px;
        @media (min-width: 768px) {
            height: 96px;
        }
    }
}


/************************Footer****************************/

.footer {
    background-color:#353535;
    padding: 25px 0 15px 20px;
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
        padding: 45px 0 20px 20px;
    }
    h1 {
        font-family: 'Shrikhand', serif;
        color: white;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 20px;
        @media (min-width: 768px) {
            padding: 0 20px 0 50px;
            margin-bottom: 0;
        }
    }
    &__links {
        list-style-type: none;
        padding-left: 1px;
        @media (min-width: 768px) {
            display: flex;
            gap: 15px;
        }
        &--li {
            display: flex;
            margin-bottom: 10px;
            .fa-utensils, .fa-handshake-angle {
                height: 13px;
                width: 11px;
                margin-right: 18px;
                color: white;
            }
            &:nth-child(-n+2) a {
                font-weight: 500;
              }
            &:nth-child(2) a {
                @media (min-width: 768px) {
                    padding-right: 22px;
                }
            }
            a {
                color: white;
                font-weight: 400;
                font-size: 16px;
            }
        }
    }
}

/************************Heart animation****************************/

.empty-heart,
.full-heart {
    position: absolute;
    bottom: 25px;
    right: 25px;
    font-size: 22px;
    transition-duration: 400ms;
    cursor: pointer;
}
.empty-heart {
    opacity: 1;
    }
.full-heart {
    background-image: linear-gradient(0deg, #9456DC, #FF79DB);
    background-clip: text;
    -webkit-background-clip: text; /* Pour les navigateurs basés sur WebKit */
    color: transparent;
    opacity: 0;
    }
.heart:hover {
    .empty-heart {
        opacity: 0;
    }
    .full-heart {
    opacity: 1;
    }
}



