@mixin plat-animation {
    opacity: 0;
    transform: translateX(-150%) translateY(-30%);
    animation: slide 500ms ease-out forwards;
}

.querie__flexcenter {
    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
}


.header {
    position: relative;
    .fa-arrow-left {
        position: absolute;
        margin-top: 23px;
        margin-left: 20px;
        color: #353535;
        font-size: 20px;
        @media (min-width: 768px) {
            margin-top: 38px;
        }
    }
}


.intro {
    position: relative;
    img {
        height: 250px;
        width: 100%;
        object-fit: cover;
        @media (min-width: 768px) {
            width: 1440px;
            height: 383px;
        }
    }
    &__title {
        position: absolute;
        bottom: -50px;
        background-color: var(--menu-bg-color);
        width: 100%;
        border-top-right-radius: 35px;
        border-top-left-radius: 35px;
        @media (min-width: 768px) {
            max-width: 1055px;
            width: 100%;
            text-align: center;
        }
        h1 {
            padding: 28px 0 30px 20px;
            font-weight: 400;
            font-family: 'Shrikhand', serif;
            font-size: 28px;
            color: #101010;
            @media (min-width: 768px) {
                padding-left: 0;
                margin-right: 55px;
            }
        }
        .heart {
            position: absolute;
            top: 84px;
            right: 14px;
            @media (min-width: 768px) {
                right: 360px;
            }
        }
    }
}

.menu {
    padding: 50px 15px 15px 15px;
    padding-left: 15px;
    background-color: var(--menu-bg-color);
    @media (min-width: 768px) {
        max-width: 1055px;
        width: 100%;
    }
    p {
        font-size: 13px;
        font-weight: 400;
    }
    h2 {
        font-size: 16px;
        font-weight: 300;
    }
    h3 {
        font-size: 15.5px;
        
        white-space: nowrap;
    }
    &__entrees--text {
        border-bottom: 3px solid var(--card-hover-color);
        width: 40px;
        padding-bottom: 5px;
        @include plat-animation;
    }
    &__text {
        border-bottom: 3px solid var(--card-hover-color);
        width: 40px;
        padding-bottom: 5px;
        padding-top: 35px;
        @include plat-animation;
    }
    .card {
        cursor: pointer;
        position: relative;
        border-radius: 15px;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        height: 72px;
        background-color: white;
        @include plat-animation;
        &:hover {
            .card__checked--price {
                animation: price-anim 600ms forwards;
            }

            .card__checked--selected {
                animation: check-anim 600ms forwards;
            }

            p, h3 {
                max-width: 240px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &:not(:hover) {
            .card__checked--price {
                animation: price-anim-reverse 600ms forwards;
            }

            .card__checked--selected {
                animation: check-anim-reverse 600ms forwards;
            }
          }
        &__food{
            display: flex;
            flex-direction: column;
            margin-left: 12px;
            gap: 5px;
        }
        &__checked {
            display: flex;
            align-items: center;
            height: 100%;
            &--price {
                margin-top: 20px;
                font-weight: 700;
                font-size: 15px;
            }
            &--selected {
                transform-origin: right;
                opacity: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 59px;
                height: 100%;
                background-color: #99E2D0;
                border-radius: 0 15px 15px 0;
                margin-left: 7px;
            }
        }
    }

    &__button--command {
        padding-top: 40px;
        display: flex;
        justify-content: center;
        padding-bottom: 25px;
        @include plat-animation;
    
        button{
            width: 186px;
            height: 50px;
            border-radius: 25px;
            background: var(--main-gradient-color);
            color: white;
            font-weight: 500;
            font-size: 16px;
            border: none;
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
            transition-duration: 500ms;
            cursor: pointer;
            &:hover {
                background: var(--hover-gradient-color);
                box-shadow: 0 5px 26px 0 rgba(0, 0, 0, 0.5);
            }
            &:not(:hover) {
                background: var(--main-gradient-color);
                box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
              }
        }   
    }    
        
}
    


/************************ Animation plats***************************/


/************Au chargement de la page...***********/

@keyframes slide {
    0% { 
        transform: translateX(-100%) translateY(-30%); 
        opacity: 0;
    }
    50% { 
        transform: translateX(8%) translateY(0%);
        opacity: 1;
    }

    100% {
        transform: translateX(0%) translateY(0%);
        opacity: 1;
    }
}

@for $i from 1 through 14  { /*Itération pour que le délais augmente de 0,25s à chaque fois*/
    .card:nth-child(#{$i}),
    h2:nth-child(#{$i}),
    .menu__button--command:nth-child(#{$i}) {
        animation-delay: #{$i * 0.25s};
    }
}

/************Lors du survol des cards...***********/

@keyframes price-anim {
    0% { 
        transform: translateX(220%); 
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes check-anim {
    0% { 
        transform: scaleX(0);
        opacity: 0;
    }

    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}

/*Reverse*/

@keyframes price-anim-reverse {
    0% { 
        transform: translateX(0%);
    }

    100% {
        transform: translateX(220%); 
    }
}

@keyframes check-anim-reverse {
    0% { 
        transform: scaleX(1);
        opacity: 1;
    }

    100% {
        transform: scaleX(0);
        opacity: 0;
    }
}



